{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block pagebody %}
<style>

</style>

<div class="container-fluid p-1 text-white text-center" style="background-color: #e8cdac;">
    <h2><strong>Gestione paste</strong></h2>
</div>
{% for message in get_flashed_messages() %}
<div class="alert alert-info">
    {{message}}
</div>
{% endfor %}
<div class="container mt-3">
    <form id="ins_dolce" action="/inserisci_dolce" method="POST" >
        <h3>Inserisci un nuovo dolce</h3>
        <div class="row mb-2">
            <label for="dolce" class="col-sm-2 col-form-label"><b>Nome:</b></label>
            <div class="col-sm-3">
                <input type="text" placeholder="Inserire il nome" id="dolce" name="dolce" required>
            </div>
        </div>
        <div class="row mb-2">
            <label for="prezzo" class="col-sm-2 col-form-label"><b>Prezzo:</b></label>
            <div class="col-sm-3">
                <input type="text" placeholder="Inserire il prezzo" id="prezzo" name="prezzo" required>
            </div>
        </div>
        <div class="row mb-2">
            <label for="numero" class="col-sm-2 col-form-label"><b>Disponibilità:</b></label>
            <div class="col-sm-3">
                <input type="text" placeholder="Inserire la disponibilità" id="numero" name="numero" required><br><br>
            </div>
        </div>
        <h3>Inserisci gli ingredienti</h3>
        <div class="form-group">
            <a id="add-field" class="link-primary" href="#">Aggungi ingrediente</a>&nbsp;&nbsp;
            <a id="remove-field" class="link-warning" href="#">Rimuovi ingrediente</a>
        </div>
        <div class="form-group mb-3">
            <input  name="ingrediente" placeholder="Inserire l'ingrediente" type="text" >
            <input  name="quantita" placeholder="Inserire la quantità" type="text" >
            <input  name="misura" placeholder="Inserire l'unità di misura" type="text" >
            <input  name="componente" placeholder="Inserire la componente" type="text" >
        </div>
        <div id="more"></div>
        <input type="submit" class="btn btn-success" name="ins" style="font-weight: bold;" value="Conferma" id="ins"/>
    </form>

</div>
<div class="container mt-3">
    <form action="/modifica_dolce" method="POST">
        <h3>Modifica la disponibilità di un dolce</h3>
        <div class="row mb-2">
            <label for="nome" class="col-sm-2 col-form-label"><b>Nome:</b></label>
            <div class="col-sm-9">
                <select class="col-sm-3 h-75" id="nome" name="nome" required>
                    {% for row in dolci %}
                    <option value="{{ row[0] }}">{{row[0]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <label for="prezzo2" class="col-sm-2 col-form-label"><b>Cambia il prezzo:</b></label>
            <div class="col-sm-3">
                <input value="" type="text" name="prezzo" id="prezzo2" min="0" >
            </div>
        </div>
        <div class="row mb-2">
            <label for="numero2" class="col-sm-2 col-form-label"><b>Cambia la disponibilità: </b></label>
            <div class="col-sm-3">
                <input value="" type="text" name="numero" id="numero2" min="0" >
            </div>
        </div>
        <button type="submit" class="btn btn-success" name="mod" value="mod" id="mod"><strong>Conferma</strong></button>
    </form>
</div>

<script src="{{ url_for('static', filename='backoffice.js') }}"></script>

{% endblock %}


